// Brands
$primary: rgb(49,62,77);
$info: #8eb4cb;
$success: #2ab27b;
$warning: #cbb956;
$danger: #bf5329;

// Typography
$family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-background-color: rgb(49,62,77);
$navbar-item-color: white;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);
