// Fonts
@import 'raleway_300_400_600.css';
@import "variables";
@import "~bulma/bulma";
@import '~buefy/src/scss/buefy';
@import "~vue-multiselect/dist/vue-multiselect.min.css";
@import '~trix/dist/trix.css';
@import '~fullcalendar/dist/fullcalendar.css';

body {
  background-color: #ebebeb81;
}

.container {
  @include desktop {
    max-width: 70%;
  }
}

.left-container {
  margin-left: 1em;
  border-right: 1px solid #dbdbdb;
  overflow: visible !important;
}

.right-container {
  margin-right: 1em;
  border-left: 1px solid #dbdbdb;
}

.has-text-textcolor {
  color: $text-color;
}

.column.is-main-content {
  padding-left: 2em;
  padding-right: 2em;
}

.box {
  &.add-button {
    padding: .5rem;
  }

  &:not(:last-child) {
    margin-bottom: .5rem !important;
  }

  .content {
    margin-bottom: .2rem;
  }

  .subtitle {
    color: black;
    margin-bottom: 0;
  }
}

.is-ellipsis-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  display: block;
  margin: 0 auto;
  line-height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4*1.2em;
}

.postcard-hr {
  margin-top: .6em;
  margin-bottom: .6em;
}

hr.title-ruler {
  margin-top: 0;
}

.navbar-dropdown > .navbar-item {
  @include desktop {
    color: $text-color;
  }
}

.navbar-burger {
  color: white;
}

.multiselect__option--highlight,
.multiselect__option--selected.multiselect__option--highlight,
.multiselect__tag,
.multiselect__tag-icon::after,
.multiselect__tag-icon:hover {
  color: white;
  background-color: $primary;
}

.multiselect__tags-wrap > .tag {
  margin: .1em;
}

.event-modal.modal-background {
  background-color: rgba(10, 10, 10, 0.15);
}

.filter {
  position: sticky;
}

.container-small {
  @extend .container;
  @include desktop {
    max-width: 50vw;
  }
}

.is-disabled {
  pointer-events: none;
  opacity: .65;
  cursor: not-allowed;
}

fieldset {
  padding: $size-7;
  margin-bottom: $size-2;
  border: none;

  legend {
    font-size: $size-4;
  }
}
