// Fonts
@import 'raleway_300_400_600.css';
@import "variables";
@import "~bulma/bulma";
@import '~buefy/src/scss/buefy';
@import './navigation';
@import "~vue-multiselect/dist/vue-multiselect.min.css";
@import '~trix/dist/trix.css';

.container {
  @include desktop {
    max-width: 70%;
  }
}

.left-container {
  margin-left: 1em;
  border-right: 1px solid #dbdbdb;
}

.right-container {
  margin-right: 1em;
  border-left: 1px solid #dbdbdb;
}

.has-text-textcolor {
  color: $text-color;
}

.columns.is-fullheight_ {
  @include tablet {
    min-height: calc(100vh - (#{$navbar-height} - .75rem));
    max-height: calc(100vh - (#{$navbar-height} - .75rem));
    display: flex;
    flex-direction: row;
    justify-content: stretch;

    .column {
      overflow-y: auto;
    }
  }
}

.column.is-main-content {
  padding-left: 2em;
  padding-right: 2em;
}

.box {
  &:not(:last-child) {
    margin-bottom: .5rem !important;
  }

  .subtitle {
    margin-bottom: 0;
  }
}

.is-ellipsis-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  display: block;
  margin: 0 auto;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4*1.5em;
}

.postcard-hr {
  margin-top: .6em;
  margin-bottom: .6em;
}

hr.title-ruler{
  margin-top: 0;
}

.multiselect__option--highlight,
.multiselect__option--selected.multiselect__option--highlight,
.multiselect__tag,
.multiselect__tag-icon::after,
.multiselect__tag-icon:hover {
  color: white;
  background-color: $primary;
}
