// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "~font-awesome/scss/font-awesome";
// Variables
@import "variables";
// Bulma
@import "~bulma/bulma";
// Custom
@import './navigation';
@import 'components/datepicker';

html, body {
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
}

.left-container {
  margin-left: 1em;
  border-right: 1px solid #dbdbdb;
}

.right-container {
  margin-right: 1em;
  border-left: 1px solid #dbdbdb;
}

.columns.is-fullheight {
  min-height: calc(100vh - (#{$navbar-height} - .75rem));
  max-height: calc(100vh - (#{$navbar-height} - .75rem));
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  .column {
    overflow-y: auto;
  }
}

.column.is-main-content {
  margin: 0 2em 0 2em;
}